<style>
  p {
   word-wrap: break-word;
  }
.message-content {
 font-family: Arial, Helvetica, sans-serif;
 max-width: 600px;
 font-size: 18px;
 line-height: 21px;
 color: black;
}
.header {
 width: 100%;
 max-width: 600px;
 align-items: center;
 justify-content: center;
 margin-bottom: 16px;
}

.body {
 width: 100%;
 max-height: 1200px;
 max-width: 600px;
 justify-content: center;
}
</style>
<div class="message-content" style="max-width: 600px;">
<a href="https://gdg.community.dev/" style="text-decoration:none;display:inline-block;font-weight:bold;margin:16px" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://gdg.community.dev/"><img alt="GDGs" src="https://res.cloudinary.com/startup-grind/image/upload/dpr_2.0,fl_sanitize/v1/gcs/platform-data-goog/contentbuilder/logo_dark_QmPdj9K.png" style="outline:none;text-decoration:none;width:350px;max-width:100%;clear:both;display:inline-block;vertical-align:middle;border:none"></a>
<div class="header" style="max-width: 600px;">
  <a href="https://www.sympla.com.br/google-io-extended-brasil-2021__1230978" style="text-decoration:none;display:inline-block;font-weight:bold" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://www.sympla.com.br/google-io-extended-brasil-2021__1230978">
    <img alt="GDGs" src="https://images.sympla.com.br/60ad37c112c4e-lg.jpg" style="outline:none;text-decoration:none;width:100%;clear:both;display:inline-block;vertical-align:middle;border:none;border-radius:25px;">
  </a>
</div>
<div class="body" style="max-width: 600px;">
<p>Olá <strong>{{name}}</strong>, este é seu convite para o Google I/O Extended Brasil 2021</p>
<p>Aconteceu entre os dias 18 a 20 de maio o Google I/O, um evento para desenvolvedores onde o Google divulgou seus últimos lançamentos de produtos e dicas de seus especialistas.</p>

<p>Agora, teremos o <strong>Google I/O Extended</strong>, um evento organizado pela comunidade Google Developers Group para trazer ainda mais informações sobre as principais novidades anunciadas na conferência anual do Google.</p>
<p>Serão 3 trilhas simultâneas e será totalmente online e gratuito.</p>
<ul>
<li style="Margin:0;Margin-top:5px">14:00 - 14:30 <strong>Keynote de abertura</strong></li>
<li style="Margin:0;Margin-top:5px">14:30 - 16:30</li>
<ul>
 <li style="margin:0;Margin-top:5px">Trilha 1 - <strong>Android </strong></li>
 <li style="margin:0;Margin-top:5px">Trilha 2 - <strong>Flutter </strong></li>
 <li style="margin:0;Margin-top:5px">Trilha 3 - <strong>IA</strong></li>
</ul>
<li style="Margin:0;Margin-top:5px;margin-bottom:25px">16:30 - 17:00 <strong>Enceramento</strong></li>
</ul>
<p>GDG's envolvidos nesse evento:</p>
<ul>
<li style="Margin:0;Margin-top:5px">GDG Uberlândia </li>
<li style="Margin:0;Margin-top:5px">GDG Pelotas</li>
<li style="Margin:0;Margin-top:5px">GDG São José do Rio Preto</li>
<li style="Margin:0;Margin-top:5px">GDG Mogi Guaçu</li>
<li style="Margin:0;Margin-top:5px">GDG Recife</li>
<li style="Margin:0;Margin-top:5px">GDG Porto Alegre</li>
<li style="Margin:0;Margin-top:5px;margin-bottom:25px">Android Dev BR</li>
</ul>

<a href="https://www.sympla.com.br/google-io-extended-brasil-2021__1230978">INSCREVA-SE</a>
<p></p>

<a href="https://www.youtube.com/playlist?list=PLo3Jh6rJYk4UXCefTmyEvc-wVMG3xo7r3">Acessar a Playlist no Youtube</a>
</div>
<p>
Obrigado! <br>
<p></p>
<strong >Equipe [Google I/O Extended BR] </strong>
</p>

<a href="{{link}}">Este e-mail foi importuno ou indesejado? clique para deixar de receber notificações do GDG</a>
</div>
