<div class="message-content" style="color:#383838;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;line-height:1.5;padding-top:15px;padding-bottom:10px">
<table width="500" align="center" style="margin:0px auto">
<tr>
  <td align="center">
    <a href="https://gdg.rocks/android12" style="text-decoration:none;display:inline-block;font-weight:bold;margin:16px" target="_blank"><img alt="GDGs" src="https://res.cloudinary.com/startup-grind/image/upload/dpr_2.0,fl_sanitize/v1/gcs/platform-data-goog/contentbuilder/logo_dark_QmPdj9K.png" style="outline:none;text-decoration:none;width:350px;max-width:100%;clear:both;display:inline-block;vertical-align:middle;border:none"></a>
  </td>
</tr>
<tr>
  <td>
    <div class="header" style="max-width: 500px;">
      <a href="https://gdg.rocks/android12" style="text-decoration:none;display:inline-block;font-weight:bold" target="_blank">
        <img alt="GDGs" src="https://elasticbeanstalk-us-east-1-251926694694.s3.amazonaws.com/mail.png" style="outline:none;text-decoration:none;width:100%;clear:both;display:inline-block;vertical-align:middle;border:none;border-radius:25px;">
      </a>
    </div>
  </td>
</tr>
<tr>
  <td>
    <div class="body" style="margin-top: 40px;">
      <p>Olá <strong>{{name}}</strong>, Vem aí mais um evento online para VOCÊ! </p>
      <p></p>
      <p>Trabalha como Dev Android? Tem interesse no tema ou curiosidade?</p>
      <p>Se você faz parte da galera que gosta de ficar antenado nas novidades do Android,<strong> VOCÊ NÃO PODE PERDER... </strong></p>
      <p></p>
      <p>Estamos organizando um super evento com participação de 5 GDGs mais a comunidade Android Dev BR para toda comunidade Android do Brasil sobre o <strong>Android 12.</strong> </p>
    </td>
  </tr>
  <tr>
    <td width="100%">
      <table width="100%" cellpadding="0" align="center">
        <tbody>
          <tr><td height="20px"></td></tr>
          <tr>
            <td >
              <ul>
                <li>Android Dev BR</li>
                <li>GDG Americana</li>
                <li>GDG Ipatinga</li>
                <li>GDG Mogi Guaçu</li>
                <li>GDG Porto Alegre</li>
                <li>GDG São José dos Campos</li>
              </ul>
            </td>
          </tr>
          <tr><td height="20px"></td></tr>
          <tr>
            <td>
              Então se você é dev Android, gosta do tema ou tem interesse, inscreva-se para não ficar de fora e receber em primeira mão os detalhes do evento!
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <tr>
      <td align="center" height="50">
        <a href="https://gdg.rocks/android12" target="_blank" style="background-color:#ffb900; color: black;border-radius: 5px;padding: 10px;text-decoration: none; width: 300px;">Clique para saber mais</a>
      </td>
    </tr>
    <td height="80">
      <p></p>
      <strong >Equipe [Android 12 Meetups] </strong>
    </p>
    <p></p>
    <a href="{{link}}" style="font-size: small;">Este e-mail foi importuno ou indesejado? clique para deixar de receber notificações do GDG</a>
  </td>
</tr>
</table>
</div>
