<div class="message-content"
  style="color:#383838;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;line-height:1.5;padding-top:15px;padding-bottom:10px;font-weight: 400;">
  <table width="600" align="center" style="margin:0px auto">
    <tr>
      <td align="center">
        <a href="https://gdg.rocks/android12on"
          style="text-decoration:none;display:inline-block;font-weight:bold;margin:16px" target="_blank"><img alt="GDGs"
            src="https://res.cloudinary.com/startup-grind/image/upload/dpr_2.0,fl_sanitize/v1/gcs/platform-data-goog/contentbuilder/logo_dark_QmPdj9K.png"
            style="outline:none;text-decoration:none;width:350px;max-width:100%;clear:both;display:inline-block;vertical-align:middle;border:none"></a>
      </td>
    </tr>
    <tr>
      <td>
        <div class="header" style="max-width: 600px;">
          <a href="https://gdg.rocks/android12on" style="text-decoration:none;display:inline-block;font-weight:bold"
            target="_blank">
            <img alt="GDGs" src="https://images.sympla.com.br/612f8552df5cc-lg.png"
              style="outline:none;text-decoration:none;width:100%;clear:both;display:inline-block;vertical-align:middle;border:none;border-radius:25px;">
          </a>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="body" style="margin-top: 40px;">
          <p>🔴 [Android 12 Meetups] Chegou o dia estamos AO VIVO!</p>
          <p>Olá <strong>{{name}}</strong>, Estamos online.... Vem aproveitar esse evento incrivel! </p>
          <p></p>
      </td>
    </tr>
    <tr><td>
    </td></tr>
    <tr>
    <tr>
      <td align="center" height="50">
        <a href="https://gdg.rocks/android12on" target="_blank"
          style="background-color:#2600ff; color:#fff;border-radius: 5px;padding: 10px;text-decoration: none; width: 300px;">Clique e acesse AGORA</a>
      </td>
    </tr>
    <td height="80">
      <p></p>
      <strong>Equipe [Android 12 Meetups] </strong>
      </p>
      <p></p>
      <a href="{{link}}" style="font-size: small;">Este e-mail foi importuno ou indesejado? clique para deixar de
        receber notificações do GDG</a>
    </td>
    </tr>
  </table>          