<div class="message-content"
  style="color:#383838;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;line-height:1.5;padding-top:15px;padding-bottom:10px;font-weight: 400;">
  <table width="600" align="center" style="margin:0px auto">
    <tr>
      <td align="center">
        <a href="https://gdg.rocks/android12"
          style="text-decoration:none;display:inline-block;font-weight:bold;margin:16px" target="_blank"><img alt="GDGs"
            src="https://res.cloudinary.com/startup-grind/image/upload/dpr_2.0,fl_sanitize/v1/gcs/platform-data-goog/contentbuilder/logo_dark_QmPdj9K.png"
            style="outline:none;text-decoration:none;width:350px;max-width:100%;clear:both;display:inline-block;vertical-align:middle;border:none"></a>
      </td>
    </tr>
    <tr>
      <td>
        <div class="header" style="max-width: 600px;">
          <a href="https://gdg.rocks/android12" style="text-decoration:none;display:inline-block;font-weight:bold"
            target="_blank">
            <img alt="GDGs" src="https://elasticbeanstalk-us-east-1-251926694694.s3.amazonaws.com/mail.png"
              style="outline:none;text-decoration:none;width:100%;clear:both;display:inline-block;vertical-align:middle;border:none;border-radius:25px;">
          </a>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="body" style="margin-top: 40px;">
          <p>Olá <strong>{{name}}</strong>, Adicione ao seu Calendário! e aproveita e já confere ai os participantes, temas e um pouco mais sobre o evento! </p>
          <p></p>
      </td>
    </tr>
    <tr><td>
      <table style="margin-bottom:30px;margin-top:30px" border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
          <tr>
            <td style="padding:5px 7px 5px 30px;text-align:center;vertical-align:top;width:40px" width="40"><img
                alt=""
                src="https://res.cloudinary.com/startup-grind/image/upload/c_fill,dpr_2,f_auto,g_center,q_auto:good/v1/gcs/platform-data-goog/contentbuilder/Icon%20Email%20Date.png"
                style="border:0;max-height:38px;max-width:38px"></td>
            <td style="font-size:19px;padding:5px;padding-right:30px">
              <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tbody>
                  <tr>
                    <td><span>Date &amp; time<br></span></td>
                  </tr>
                  <tr>
                    <td style="font-size:16px;padding-bottom:10px">Sat, Sep 25, 2:00 PM (GMT-03:00)<p
                        style="font-size:12px;color:#666;padding-top:5px;margin:0">Add to <a
                          href="https://www.google.com/calendar/render?action=TEMPLATE&amp;text=Android%2012%20Meetups&amp;dates=20210925T170000Z/20210925T210000Z&amp;details=Um%20evento%20de%20para%20toda%20comunidade%20Android%20do%20Brasil%20sobre%20o%20Android%2012.&amp;location=https://gdg.community.dev/j/ypu6hwgg6xs5d/"
                          style="color:#4285F4">Google</a> · <a href="https://gdg.community.dev/e/m87ejd/calendar.ics"
                          style="color:#4285F4">Outlook</a> · <a
                          href="https://gdg.community.dev/e/m87ejd/calendar.ics" style="color:#4285F4">iCal</a> · <a
                          href="http://calendar.yahoo.com/?v=60&amp;view=d&amp;type=20&amp;TITLE=Android%2012%20Meetups&amp;ST=20210925T170000Z&amp;DUR=400&amp;DESC=Um%20evento%20de%20para%20toda%20comunidade%20Android%20do%20Brasil%20sobre%20o%20Android%2012."
                          style="color:#4285F4">Yahoo</a></p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td style="padding:5px 7px 5px 30px;text-align:center;vertical-align:top;width:40px" width="40"><img
                alt=""
                src="https://res.cloudinary.com/startup-grind/image/upload/c_fill,dpr_2,f_auto,g_center,q_auto:good/v1/gcs/platform-data-goog/contentbuilder/Icon%20Email%20Link.png"
                style="border:0;max-height:38px;max-width:38px"></td>
            <td style="font-size:19px;padding:5px;padding-right:30px">
              <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tbody>
                  <tr>
                    <td><span>Virtual event URL</span></td>
                  </tr>
                  <tr>
                    <td style="font-size:16px;padding-bottom:10px">
                      <div><a href="http://gdg.rocks/android12/" target="_blank"
                          style="color:#4285F4">https://gdg.rocks/android12/</a></div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </td></tr>
    <tr>
      <td width="100%">
        <table width="100%" cellpadding="0" align="center">
          <tbody>
            <tr>
              <td height="20px"></td>
            </tr>
            <tr>
              <td width="40%" height="210">
                <img alt="Marcelo Quinta"
                  src="https://elasticbeanstalk-us-east-1-251926694694.s3.amazonaws.com/1607274411163+-+Marcelo+Quinta.jpeg"
                  style="outline:none;text-decoration:none;width:100%;clear:both;display:inline-block;vertical-align:middle;border:none;border-radius:25px;">
              </td>
              <td width="60%" height="210">
                <div>
                  <h2 style="margin: 8px;">Marcelo Quinta</h2>
                  <h3 style="margin: 0 0 4px 16px;">Keynote - Novidades do Android 12</h3>
                </div>
                <p style="margin-left: 8px;">Mestre e professor da UFG, Google Developer Expert, mentor do Google
                  Launchpad, desenvolvendo apps desde antes da criação do Android e iOS e envolvido com apps de impacto
                  no Brasil e no mundo. Hoje eu contribuo no WhatsApp, onde já trabalhei em Payments e mais recentemente
                  no Guia.</p>
              </td>
            </tr>
            <tr>
              <td height="20px"></td>
            </tr>
            <tr>
              <td width="40%" height="210">
                <img alt="João Victor"
                  src="https://elasticbeanstalk-us-east-1-251926694694.s3.amazonaws.com/joaoVictor2.png"
                  style="outline:none;text-decoration:none;width:100%;clear:both;display:inline-block;vertical-align:middle;border:none;border-radius:25px;">
              </td>
              <td width="60%" height="210">
                <div>
                  <h2 style="margin: 8px;">João Victor</h2>
                  <h3 style="margin: 0 0 4px 16px;">Novidades Material You</h3>
                </div>
                <p style="margin-left: 8px;">Líder Técnico na Zup Innovation. Seu principal foco é o desenvolvimento de
                  aplicativos android na plataforma nativa. Sempre preocupando-se em manter boas práticas e construir
                  aplicações escaláveis. Sempre buscando novos conhecimentos e tentando compartilhar seus aprendizados.
                </p>
              </td>
            </tr>
            <tr>
              <td height="20px"></td>
            </tr>
            <tr>
              <td width="40%" height="210">
                <img alt="Walmyr Carvalho"
                  src="https://elasticbeanstalk-us-east-1-251926694694.s3.amazonaws.com/walmyr.png"
                  style="outline:none;text-decoration:none;width:100%;clear:both;display:inline-block;vertical-align:middle;border:none;border-radius:25px;">
              </td>
              <td width="60%" height="210">
                <div>
                  <h2 style="margin: 8px;">Walmyr Carvalho</h2>
                  <h3 style="margin: 0 0 4px 16px;">Sorria, você está sendo filmado! Segurança e privacidade no Android
                    12</h3>
                </div>
                <p style="margin-left: 8px;">Android Developer @ VanMoof (Amsterdam), desenvolvedor Android há 10 anos,
                  Google Developer Expert de Android, criador e moderador do Android Dev BR - maior comunidade para
                  profissionais Android do Brasil - e mentor do Google for Startups Brasil.</p>
              </td>
            </tr>
            <tr>
              <td height="20px"></td>
            </tr>
            <tr>
              <td width="40%" height="210">
                <img alt="Droid Talk"
                  src="https://elasticbeanstalk-us-east-1-251926694694.s3.amazonaws.com/droidTalk.png"
                  style="outline:none;text-decoration:none;width:100%;clear:both;display:inline-block;vertical-align:middle;border:none;border-radius:25px;">
              </td>
              <td width="60%" height="210">
                <div>
                  <h2 style="margin: 8px;">Droid Talk</h2>
                </div>
                <p style="margin-left: 8px;">Ana Coimbra, Larissa Yasin, Leonardo Sibela, Erick Daros, João Victor... Convidamos uma galera especial para bater um papo sobre as palestras e as
                  novidades do Android 12, essa parte do evendo promete ser bem descontraida e animada</p>
              </td>
            </tr>
            <tr>
              <td height="20px"></td>
            </tr>
            <tr>
              <td width="40%" height="210">
                <img alt="Kahoot"
                  src="https://elasticbeanstalk-us-east-1-251926694694.s3.amazonaws.com/kahoot.png"
                  style="outline:none;text-decoration:none;width:100%;clear:both;display:inline-block;vertical-align:middle;border:none;border-radius:25px;">
              </td>
              <td width="60%" height="210">
                <div>
                  <h2 style="margin: 8px;">Kahoot</h2>
                </div>
                <p style="margin-left: 8px;">Um bom evento não pode ficar sem brindes e uma boa dinâmica... Anote as palavras que serão ditas durante o evento, teremos um quiz no final valendo prêmios!</p>
              </td>
            </tr>
            <tr>
              <td height="20px"></td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
    <tr>
      <td align="center" height="50">
        <a href="https://gdg.rocks/android12" target="_blank"
          style="background-color:#ffb900; color: black;border-radius: 5px;padding: 10px;text-decoration: none; width: 300px;">Clique
          para saber mais</a>
      </td>
    </tr>
    <td height="80">
      <p></p>
      <strong>Equipe [Android 12 Meetups] </strong>
      </p>
      <p></p>
      <a href="{{link}}" style="font-size: small;">Este e-mail foi importuno ou indesejado? clique para deixar de
        receber notificações do GDG</a>
    </td>
    </tr>
  </table>
</div>
