<div class="message-content" style="background-color:#f7f7f7">
<table width="600" align="center" style="margin:0px auto">
<tr>
  <td align="center">
    <a href="https://gdg.rocks/android12" style="text-decoration:none;display:inline-block;font-weight:bold;margin:16px" target="_blank"><img alt="GDGs" src="https://res.cloudinary.com/startup-grind/image/upload/dpr_2.0,fl_sanitize/v1/gcs/platform-data-goog/contentbuilder/logo_dark_QmPdj9K.png" style="outline:none;text-decoration:none;width:350px;max-width:100%;clear:both;display:inline-block;vertical-align:middle;border:none"></a>
  </td>
</tr>
<tr>
  <td>
    <div class="header" style="max-width: 600px;">
      <a href="https://gdg.rocks/android12" style="text-decoration:none;display:inline-block;font-weight:bold" target="_blank">
        <img alt="GDGs" src="https://elasticbeanstalk-us-east-1-251926694694.s3.us-east-1.amazonaws.com/mail.png?response-content-disposition=inline&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEOH%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXNhLWVhc3QtMSJGMEQCIH%2F6Lj%2BLA0ETRHam8Opo7M67xooZlkcktWeExSEao%2BcdAiAy08r%2F9k1NTBuKa4m5TEEm3nBJMjAt7zWZuZ9xHdHDZSr2Agg6EAIaDDI1MTkyNjY5NDY5NCIMGbqbG2vzVrmqOxPUKtMCRHzLeD5%2FIBcQ0YAkvAhd9dPtV4wVxdHZK%2BaiQmefubRJQ0CeViZUy6yuXPe5R3KDPhwFnvZL1jvk%2Fp05W8IkFHPLV1dQUMGQQjBzv4WKexdGk3ondubI3ukd5co75b8vuSv5qiSJfCtSL5sbxk2Wx4pbk4VFNzThu4yqhth4Q8QWUC6HqiyJLVKqDBWL%2FWGYK1lqdTnwybSl9N3HxNDz8gCBmq8gaFCqTe5KU%2B4pa1LLL3OW67wQYVfdfD5KlV8zksu9qi4vB2h4jiLj7toDIadeNkIaW%2BoQCBDJ8HiIIMiExyl9qNEAyzJDdR%2FA17lEVpdVCT59ICFltSv1bR5XjDW55JFZrOFqunjJHJxG7%2BjtdlxaEIUVvRuSSCZGAbyrP1d75S9%2FKM85w9pmkHq3IvFt8QptbXywBsziD6NTBVYmp27XDlabi5IeGFrlpzgkJP1gMNLX%2F4kGOrQCc%2BHHF%2BZLjP4tXCNhxUaUBRLk4a27DTrBhl3lBrQIMQ%2BLqmdk4Vx4il0%2F4Nnuoz%2B6XUyLsurd8SlGq5YmIFFBnLjEBtRu9roEhMYlg3u6dDgb95%2BL4u%2BZ%2F5jMiBazRU9V4W1F8ZT7%2B7PUSSG%2BCqvjVoAQT0St8nSThU05HKxZm%2BxoPqsGyju3IErV7iE5lc50UNURJZ7kibpfYCHQDAYtpL76Gn%2BZ%2BonKOmJJZLf860CthOMboBOAYbSwrXXmH76QTqr1A7VbAdUmTwwIBt7ZktRkAWjtcAzX5Mbw%2BDEn2vk1aB2lSDTyqZAoIJkQ%2BEPYV9pQwIdeUCTkByEZCI022HTMN4Qj3o%2FWVFgPO5BUjBZ6j0iHBOQUNiZISE%2Fwt%2FCZodN9pKXtKPzvv5Md6RYwrW9gYPA%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20210914T002639Z&X-Amz-SignedHeaders=host&X-Amz-Expires=300&X-Amz-Credential=ASIATVKAAJMTLY2QNUN2%2F20210914%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=7dd22428d523f30b769f0b22f57e537ae0b9117e65d1be2a4d849f202bbac78a" style="outline:none;text-decoration:none;width:100%;clear:both;display:inline-block;vertical-align:middle;border:none;border-radius:25px;">
      </a>
    </div>
  </td>
</tr>
<tr>
  <td>
    <div class="body" style="margin-top: 40px;">
      <p>Olá <strong>{{name}}</strong>, Vem aí mais um evento online para VOCÊ! </p>
      <p></p>
      <p>Trabalha como Dev Android? Tem interesse no tema ou curiosidade?</p>
      <p>Se você faz parte da galera que gosta de ficar antenado nas novidades do Android,<strong> VOCÊ NÃO PODE PERDER... </strong></p>
      <p></p>
      <p>Estamos organizando um super evento com participação de 5 GDGs mais a comunidade Android Dev BR para toda comunidade Android do Brasil sobre o <strong>Android 12.</strong> </p>
    </td>
  </tr>
  <tr>
    <td width="100%">
      <table width="100%" cellpadding="0" align="center">
        <tbody>
          <tr><td height="20px"></td></tr>
          <tr>
            <td >
              <ul>
                <li>Android Dev BR</li>
                <li>GDG Americana</li>
                <li>GDG Ipatinga</li>
                <li>GDG Mogi Guaçu</li>
                <li>GDG Porto Alegre</li>
                <li>GDG São José dos Campos</li>
              </ul>
            </td>
          </tr>
          <tr><td height="20px"></td></tr>
          <tr>
            <td>
              Então se você é dev Android, gosta do tema ou tem interesse, inscreva-se para não ficar de fora e receber em primeira mão os detalhes do evento!
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <tr>
      <td align="center" height="50">
        <a href="https://gdg.rocks/android12" target="_blank" style="background-color:#ffb900; color: black;border-radius: 5px;padding: 10px;text-decoration: none; width: 300px;">Clique para saber mais</a>
      </td>
    </tr>
    <td height="80">
      <p></p>
      <strong >Equipe [Android 12 Meetups] </strong>
    </p>
    <p></p>
    <a href="{{link}}" style="font-size: small;">Este e-mail foi importuno ou indesejado? clique para deixar de receber notificações do GDG</a>
  </td>
</tr>
</table>
</div>
