<style>
  p {
   word-wrap: break-word;
  }
.message-content {
 font-family: Arial, Helvetica, sans-serif;
 max-width: 600px;
 font-size: 18px;
 line-height: 21px;
 color: black;
}
.header {
 width: 100%;
 max-width: 600px;
 align-items: center;
 justify-content: center;
 margin-bottom: 16px;
}

.body {
 width: 100%;
 max-height: 1200px;
 max-width: 600px;
 justify-content: center;
}
</style>
<div class="message-content" style="max-width: 600px;">
<a href="https://gdg.community.dev/" style="text-decoration:none;display:inline-block;font-weight:bold;margin:16px" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://gdg.community.dev/"><img alt="GDGs" src="https://res.cloudinary.com/startup-grind/image/upload/dpr_2.0,fl_sanitize/v1/gcs/platform-data-goog/contentbuilder/logo_dark_QmPdj9K.png" style="outline:none;text-decoration:none;width:350px;max-width:100%;clear:both;display:inline-block;vertical-align:middle;border:none"></a>
<div class="header" style="max-width: 600px;">
  <a href="https://www.sympla.com.br/google-io-extended-brasil-2021__1230978" style="text-decoration:none;display:inline-block;font-weight:bold" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://www.sympla.com.br/google-io-extended-brasil-2021__1230978">
    <img alt="GDGs" src="https://images.sympla.com.br/60ad37c112c4e-lg.jpg" style="outline:none;text-decoration:none;width:100%;clear:both;display:inline-block;vertical-align:middle;border:none;border-radius:25px;">
  </a>
</div>
<div class="body" style="max-width: 600px;">
<p>Olá <strong>{{name}}</strong>, agradecemos sua participação no Google I/O Extended Brasil 2021</p>
<p></p>

<p>A comunidade GDG está sempre buscando aprimorar seus eventos, por esse motivo sua opinião é muito importante</p>
<p>Podemos contar com o seu feedback?</p>
<p>É bem rápido, leva menos de 1 minuto!</p>
<p></p>
<a href="https://www.sympla.com.br/google-io-extended-brasil-2021__1230978">Clique aqui para pesquisa</a>
<p></p>
<p>Muito Obrigado !</p>
<p></p>
<strong >Equipe [Google I/O Extended BR] </strong>
</p>
<a href="{{link}}">Este e-mail foi importuno ou indesejado? clique para deixar de receber notificações do GDG</a>
</div>
