<style>
  p {
   word-wrap: break-word;
  }
.message-content {
 font-family: Arial, Helvetica, sans-serif;
 max-width: 600px;
 font-size: 18px;
 line-height: 21px;
 color: black;
}
.header {
 width: 100%;
 max-width: 600px;
 align-items: center;
 justify-content: center;
 margin-bottom: 16px;
}

.body {
 width: 100%;
 max-height: 1800px;
 max-width: 600px;
 justify-content: center;
}
</style>
<div class="message-content" style="max-width: 600px;">
<a href="https://gdg.community.dev/" style="text-decoration:none;display:inline-block;font-weight:bold;margin:16px" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://gdg.community.dev/"><img alt="GDGs" src="https://res.cloudinary.com/startup-grind/image/upload/dpr_2.0,fl_sanitize/v1/gcs/platform-data-goog/contentbuilder/logo_dark_QmPdj9K.png" style="outline:none;text-decoration:none;width:350px;max-width:100%;clear:both;display:inline-block;vertical-align:middle;border:none"></a>
<div class="header" style="max-width: 600px;">
  <a href="https://forms.gle/iButmqqUKARTxgjW7" style="text-decoration:none;display:inline-block;font-weight:bold" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://www.sympla.com.br/google-io-extended-brasil-2021__1230978">
    <img alt="GDGs" src="https://lh3.googleusercontent.com/605LQoFmeWJ4zLLK3Ee_S5n84oDPJTbiVues2T6kYUlNj3GKAuvBu4orKftEuEsgdOkmXpRloGJh7d33XHXUwnqeBu1WI2zuq4zzHVNjmgsv1w7Pqu6U8cJci5nHfDcAkA=w1600" style="outline:none;text-decoration:none;width:100%;clear:both;display:inline-block;vertical-align:middle;border:none;border-radius:25px;">
  </a>
</div>
<div class="body" style="max-width: 600px;">
<p>Olá <strong>{{name}}</strong>, agradecemos sua participação no Google I/O Extended Brasil 2021, seu certificado está disponível no Sympla</p>
<p></p>
<p>A comunidade GDG está sempre buscando aprimorar seus eventos, por esse motivo sua opinião é muito importante</p>
<p>Podemos contar com o seu feedback? É bem rápido, leva menos de <strong>1 minuto!</strong></p>
<p></p>
<a href="https://forms.gle/iButmqqUKARTxgjW7" target="_blank" style="background-color:#ffb900; color: black;border-radius: 5px;padding: 8px;text-decoration: none;">Clique aqui para pesquisa</a>
<p></p>
<p>Preenchendo a pesquisa, você ainda pode levar um <strong>Google Nest Mini</strong>!! Corre que a pesquisa se encerra em 07/07/2021.</p>
<p></p>
<h3 style="margin-top:32px">Não fique fora do Devfest Brasil</h3>
<p>O<strong> Devfest Brasil 2021</strong> irá acontecer online, mas ainda não temos a data oficial! Será divulgada em breve!</p>
<p>Inscreva-se antecipadamente para receber as novidades em primeira mão!</p>
<a href="http://gdg.rocks/devfest2021" target="_blank" >http://gdg.rocks/devfest2021</a>
<p>Muito Obrigado !</p>
<p></p>
<strong >Equipe [Google I/O Extended BR] </strong>
</p>
<p></p>
<p>Você recebeu este email por ter participado em um de nossos e eventos e ter compatilhado o desejo de participar de novos eventos.</p>
<a href="{{link}}" style="font-size: small;">Este e-mail foi importuno ou indesejado? clique para deixar de receber notificações do GDG</a>
</div>
