<div class="message-content" style="max-width: 600px;">
  <div style="width: 100%;">
    <p>Olá, <strong>{{name}}</strong></p>
    <p></p>
    <p>
      Parabéns, sua palestra foi selecionada para fazer parte do DevFest 2021
      Brasil. Obrigado pela submissão do tema e juntos faremos um grande evento!
    </p>
    <p></p>
    <p>A seguir, confira os detalhes da sua palestra selecionada:</p>
    <p></p>
    <p><strong>Link da Foto:</strong></p>
    <p><a href="{{photoLink}}" target="_blank">{{photoLink}}</a></p>
    <p></p>
    <p><strong>Mini-bio:</strong></p>
    <p>{{bio}}</p>
    <p></p>
    <p><strong>Título da palestra:</strong></p>
    <p>{{lectureTitle}}</p>
    <p></p>
    <p><strong>Resumo da palestra:</strong></p>
    <p>{{lectureIntroduction}}</p>
    <p></p>
    <p><strong>Horários disponíveis:</strong></p>
    <p>{{availabiliry}}</p>
  </div>
  <p><br /></p>
  <p></p>
  <p>
    Essas informações estarão disponíveis em nosso site devfest.com.br, na
    página de "Agenda". Entretanto, a organização ainda pode fazer alguns
    ajustes para padronizar a linguagem com as demais palestras selecionadas. A
    qualquer momento, caso queira alguma modificação, por favor nos comunique
    em: palestrantes@devfest.com.br
  </p>
  <br />
  <p>
    Adicionalmente, queremos que você preencha, por gentileza, esse formulário
    <a href="https://forms.gle/bNXiUUHizQNQWQLAA" target="_blank"
      >(https://forms.gle/bNXiUUHizQNQWQLAA)</a
    >
    até o dia 15/10, com mais detalhes sobre você para facilicar a comunicação e
    a entrega de brindes.
    <strong
      >Na primeira pergunta, escolha a opção “Fui selecionado no Call for
      Papers”.</strong
    >
  </p>
  <br />
  <p>
    Em breve, anunciaremos à você o dia e horário da sua apresentação, conforme
    os disponíveis já sugeridos por você.
  </p>
  <br />
  <br />
  <p>[Equipe Devfest 2021]</p>
</div>
